.swiper-button-prev,
.swiper-button-next {
    background: #000000c1;
    padding: 10px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    color: #fff;
    font-size: 30px !important;
    border-radius: 3px;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0 !important;
}